/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* UTILITY */

.mb-20 {
    margin-bottom: 20px;
}

.bg-red {
    background-color: #FF0000;
}

.bg-green {
    background-color: #008001;
}

/* TIPOGRAPHY */

.text-white {
    color: #fff;
}

/* LAYOUT */
.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.col-30 {
    width: 30%;
}


/* MAIN */

/* Card */

.card {
    position: relative;
}

.disp-block {
    display: block;
}

.disp-none {
    display: none;
}

.disp-change:hover .disp-block {
    display: none;
}

.disp-change:hover .disp-none {
    display: block;
}


.discount {
    position: absolute;
    left: 0;
    bottom: 20px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 0.6rem;
    padding: 6px;
    
}

.ecofriendly {
    position: absolute;
    bottom: 20px;
    left: 38px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 0.6rem;
    padding: 6px;
    
}