/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* UTILITY */

.flex {
    display: flex;
}

.mt-30 {
    margin-top: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.bg-red {
    background-color: #FF0000;
}

.bg-green {
    background-color: #008001;
}

/* TIPOGRAPHY */

.text-white {
    color: #fff;
}

.text-red {
    color: #FF0000;
}

/* HEADER */

header {
    background-color: #FF6900;
    height: 80px;
    /* debug */

}



/* LAYOUT */
.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    font-family: sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.col-30 {
    width: 30%;
}


/* MAIN */

/* Card */

.card {
    position: relative;
}

.disp-block {
    display: block;
}

.disp-none {
    display: none;
}

.disp-change:hover .disp-block {
    display: none;
}

.disp-change:hover .disp-none {
    display: block;
}


.discount {
    position: absolute;
    left: 0;
    bottom: 70px;
    font-weight: 700;
    font-size: 0.6rem;
    padding: 6px;
    
}

.ecofriendly {
    position: absolute;
    bottom: 70px;
    left: 38px;
    font-weight: 700;
    font-size: 0.6rem;
    padding: 6px;
    
}

.ecofriendly-last {
    position: absolute;
    bottom: 70px;
    left: 0;
    font-weight: 700;
    font-size: 0.6rem;
    padding: 6px;
}

.favorite {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: #fff;
    padding: 5px;
}

.brand {
    font-weight: 100;
    font-size: 0.8rem;
}

.price-before {
    text-decoration: line-through;
    font-size: 0.8rem
}

.price-after {
    font-weight: 700;
    font-size: 0.8rem;
}


/* FOOTER */

footer {
    
    /* debug */
    background-color: black;
    height: 80px;
    color: white
}